# ##################################################
# 企业微信配置
# Key 大小写无关
# ##################################################
Corp_id=
Secret=
AgentId=
# ToUser 每个 UserID 之间用 | 隔开
# ToUser "@all" 时，发送给企业内所有人
# 官方 API 解释： https://work.weixin.qq.com/api/doc#90000/90135/90236
ToUser=
## 配置文件结束 ##
